[2017-09-18 13:26] vetss commented on #253
Yes, it is JSS7 part issue: https://github.com/RestComm/jss7/issues/263

@KeithMilner thanks for bug reporting.

[2017-09-18 15:28] marca56 opened #254 "Mark equipmentProtocolError as a permanent failure"
* see, customer change request in the Slack channel

[2017-09-19 12:59] #218 closed

[2017-09-20 14:24] faizann commented on #252
Hi Sergey

I have picked this one up.

[2017-09-21 14:12] olenara opened #255 "NPE while disconnecting ESME after response sent"
There is NPE thrown by SMSC in handleResponse() after ESME is being disconnected after response has been received but not yet processed:

15:04:43,912 ERROR [RxSmppServerSbb] (SLEE-EventRouterExecutor-1-thread-1) Exception in RxSmppServerSbb.onDeliverSmResp() when fetching records and issuing events: null
smsSet=SmsSet [destAddrTon=1, destAddrNpi=1, destAddr=6667, networkId=21, destClusterName=tes

[2017-09-21 14:14] #255 closed

[2017-09-25 17:25] vetss commented on #252
Hello @faizann

please hold on,, @olenara is processing the issue. Sorry, I have only today found your message.

[2017-09-26 07:26] faizann commented on #252
Roger that. I have done changes but I will take olenara.
We also have seen cases where SCCP CallingGT has to be set and is different from ServiceCenter GT. This happens when ServiceCenterGT is used to provide more info about the originating operator by adding MNC/MCC suffix. This is called OC Compliance in GSMA standard. We can add another param only for sccpCallingGt that overrides serviceCenterG

[2017-09-26 08:50] faizann commented on #232
Hi

I find this change strange. The messageId is used in DeliverSm to match the original SubmitSm by the SMPP client. If we send NULL in the SubmitSmResp, won't this will break a lot of SMPP clients?
A typical DLR message body looks like this where ID is the messageId.

`short_message="id:34265880701 sub:001 dlvrd:001 submit date:1709260755 done date:1709260755 stat:UNDELIV err:001 text:sfdsfs`

[2017-09-26 09:00] faizann opened #256 "Non unique messageIDs between SMSCs cause conflict"
MessageID in SMSC is a sequential number and if there are 2 or more SMSCs instances running. The SMPP clients start receiving similar messageID for multiple submits and hence there is a conflict on DLR. A DLR from messageSent to SMSC_A might be thought of as DLR from SMSC_B.

I suggest using UUIDs for messageIDs to avoid conflicts when SMSCs are run in loadshare mode. It is a big change if we do i

[2017-09-26 10:06] faizann commented on #232
Deleted the comment by mistake.
Don't we need the messageID to link to the DeliveryReport? If it is set to null that will break the delivery reports.

[2017-09-26 15:37] vetss commented on #232
Hello @faizann

ohh, correct, my bad. "delivery_sm_resp" must contain null value in a "message_id".
We need to update it.

[2017-09-26 16:09] vetss commented on #256
Hello @faizann

you can use "Minimum MessageId" and "maxMessageId" general SMSC GW options for setting of a range of messageID values in a server - check http://documentation.telestax.com/core/smsc/SMSC_Gateway_Admin_Guide.html#smsc-gateway-server-settings .

Usage of "UUIDs for messageIDs" demands a significant server update, let's rty to use the first option.

[2017-09-26 16:17] faizann commented on #256
Hi

Ah I didn't see that. Using UUID would have broken the protocol anyway. Thanks. I don't need any changes then.

[2017-09-26 16:17] #256 closed

[2017-09-26 16:26] vetss commented on #252
@faizann

1) is it for MT messages only (or affects also MO/HR) ?
2) if MT only - can we specify a pair of values (ServiceCenter GT and SCCP CallingGT) for each networkID value ? Or we need to specify several possible SCCP CallingGT for same ServiceCenter GT and we need mproc rules action for it (like "mtlocalsccpgt ****").

[2017-09-28 15:19] olenara commented on #215
Fixed by:
10da2a546feec772660b93930823f5b908828637
c11c3a46278a282d10b0dd2c95f94a3c953d9c65
61e585df9c066c904b60c2902778cfbd81bc875f
a1d18b3f88e0e8240de35bc6b502bf05fca9982b
1685e9e720dc7afe4b3fb8c7fb5d6bb7074f2f1e
44eda184b034c263e29dbc0a0f0952b09df38da8
b29093f02b20b678be410117cecab24151e9967e

[2017-09-28 15:20] olenara commented on #232
Fixed by:
ebd835e804413786dbdce10107edb5f082837afe
3aee28518a3d2461bba040c02783f0cc47418297

[2017-09-28 15:42] faizann commented on #252
Hi @vetss

It is important for HR/MO as well. The OC Compliance is needed when outbound SRI/MTFSM are sent in correspondence to inbound and we want to relay the originator by appending MCC/MNC to the ServiceCenterGT.  Hence a different callingGT for SCCP and for ServiceCenterGT.
If you agree then I can pick this one up.
NetworkID unfortunately won't be scalable as then we need to configure a lot o

[2017-09-29 13:29] ggkitsas opened #257 "Cannot compile smscgateway - dependency error"
Hello,

I am trying to compile smscgateway using `mvn clean compile`. What I get is:

[code]
I have tried both master and 7.4.178 (latest release). Not sure how to solve this issue. Any help will be much appreciated!

[2017-09-29 15:49] ggkitsas commented on #257
Got it solved. What was needed was to first compile and install https://github.com/RestComm/cloudhopper-smpp and then the smscgateway, as mentioned in project's readme

[2017-09-29 15:49] #257 closed

[2017-10-03 08:58] vetss commented on #254
Way of implementing:

1) we need to implement https://github.com/RestComm/jss7/issues/264

2) Add following configuring parameters:
a) smsc set smdeliveryfailure <csuaseCode> permanent/temporary/clear
examples:
smsc set smdeliveryfailure 0 temparary - set MAPErrorMessageSMDeliveryFailure error FailureCause 0 (memoryCapacityExceeded) to temparary
smsc set smdeliveryfailure 1 permanent - set MAPErro

[2017-10-03 10:11] vetss commented on #254
3. Changing of SMSC GW behaviour:

a) SMEnumeratedDeliveryFailureCause - equipmentProtocolError - treat this error as permament as default (we will treat as temporary by default only memoryCapacityExceeded case)

b) when parsing of MAPErrorMessageSMDeliveryFailure MAP erro message:
- If signallingInfo + SMS-DELIVERY-REPORT + TP-Failure-Cause is present we make a decision of temporary / permanemt e

[2017-10-04 11:04] vetss commented on #252
Hello @faizann

it will be very good if you can cover the issue of "different callingGT for SCCP and for ServiceCenterGT".
Can you open a separate issue with a requirenments description details. We can discuss then the best solution for it.
We have to close this issue soon because it is for some concrete case and better to have a discussion in a separate issue.

[2017-10-04 11:18] vetss commented on #252
After discussing with a customer we have a change for this issue task:
We need to update for mproc rules:
a) GT digits for CallingPartyAdrress (origination address)
b) TT for CalledPartyAddress (destination address)

because of it we need to rename CLI names:
mtlocalgt ****
mtremotett ****
and update code accordingly

We need also to update SMSC GW manual http://documentation.telestax.com/core/sms

[2017-10-04 11:55] faizann opened #258 "Setting explicitly SCCPCallingGT and SCCPCalledGT via MProc"
**SCCPCallingDigits**
Currently SCCPCallingGT is set by copying the digits from ServiceCenterGT. In some cases like OCCompliance, the ServiceCenterGT holds more information by suffixing MNCMCC of originating operator. The SCCPCallingGT in this case is the actual GT that can be used for routing and hence the difference between 2 GTs in MAP and SCCP layers.

**SCCPCalledDigits**
There are also cases

[2017-10-04 11:57] faizann commented on #252
Hi @vetss
Why not also have mtlocaltt and mtremotegt since we are doing it anyway.

[2017-10-04 11:57] faizann commented on #252
This is the new issue https://github.com/RestComm/smscgateway/issues/258

[2017-10-04 12:03] faizann commented on #258
What I propose here is setting following fields via MProc

localsccpgt
localsccptt

remotesccpgt
remotesccptt

[2017-10-04 16:06] vetss opened #259 "request.getRequestURL() null case: Exception"
2017-09-25 10:21:01,331 ERROR [org.mobicents.slee.runtime.eventrouter.routingtask.InitialEventProcessor] (SLEE-EventRouterExecutor-22-thread-1) Failed to comput
e convergance name: null
java.lang.reflect.InvocationTargetException
at sun.reflect.GeneratedMethodAccessor327.invoke(Unknown Source)
at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
at java.lang.ref

[2017-10-04 16:45] vetss commented on #252
Hi @faizann

We are doing this issue for some customer and therefor we need to have hier only a related staff. Sorry for some messing.

[2017-10-04 17:01] vetss commented on #258
Hello @faizann

thanks for opening of an issue and provided info.

Now we have a limited implementation for MT only and only `mtlocalgt` and `mtremotett` (https://github.com/RestComm/smscgateway/issues/252). This implementation means that service center address in MAP part is not changed after any updates. Calling (for GT digits) and called (for TT) party addresses are updated in case of mproc rul

[2017-10-05 08:01] faizann commented on #258
Hi @vetss

My idea would be to have mtlocalgt for both serviceCenterGT in MAP and callingSccp in SCCP layer unless localcallingsccpgt is not null/empty. So, it is kind of a lower level control if someone wants it for setting SCCP layer GTs.

callingGT overriding via MProc would affect all outbound SRI and MTFSM. This applies for HR and SRI and MT SBBs. I don't think we need to set callingGT/called

[2017-10-06 09:43] vetss commented on #258
Hello @faizann

*** For MT procedure: ***

a) SRI request SCCP part:
- callingParty TT / calledParty TT - we can change it `localsccptt` / `remotesccptt`
- callingParty GT digits (== SMSC GW GT) - we can change it `localsccpgt`
- calledParty GT digits (== MSISDN) - do we really need to update it ?

b) SRI request MAP part:
- MSISDN - do we really need to update it ?
- ServiceCentreAddress - we can

[2017-10-06 11:58] faizann commented on #258
For this discussion
**localscgt** is the value that is set for ServiceCenterAddress in MAP layer by mproc.
**localsccpgt** is the value that can be set from mproc for callingSccpGt in SCCP layer.
**remotesccpgt** is the value that is set as calledSccpGt in SCCP layer by mproc.

*** For MT procedure: ***

a) SRI request SCCP part:

* callingParty TT / calledParty TT - we can change it localsccptt /

[2017-10-09 08:00] vetss commented on #258
Hello @faizann

Here is my summary for parameters and actions, please check and confurm that they are proper described :

*** For MT procedure: ***

New mproc actions :
`mtlocalscgt` is the value that is set for ServiceCenterAddress in MAP layer by mproc.
`mtlocalsccpgt` is the value that can be set from mproc for callingSccpGt in SCCP layer.
`mtremotesccpgt` is the value that is set as calledSccp

[2017-10-09 08:05] vetss commented on #252
Changing of CLI parametrs :
mtlocalgt **** -> mtlocalsccpgt
mtremotett **** -> mtremotesccptt

[2017-10-11 12:07] faizann commented on #258
Hi @vetss

Yes this look very good to me and as to your question, there is indeed no need for separate parameter names for SRI and MTFSM.

HR Mproc we can do separate.

Do you want me to pick this issue?

[2017-10-11 19:40] vetss commented on #258
Hello @faizann

Yes, please. Let me also finish the first issue so you will be able to provide your update on the top of this. I mean #252

[2017-10-13 09:33] vetss commented on #258
Hello @faizann

I have some doubts for the case when we are going to change any parameters in SRI messages. We may have several messages for a single dest address and for some of such messages we may have updated mtlocalscgt or other mtsccp parameters. SMSC GW sends a single SRI address for all pending MT messages (because of all messages belongs to a same networkID). Which parameters to use for a

[2017-10-13 10:29] faizann commented on #258
Hi @vetss

Indeed changing that logic is too much work and seems unnecessary. SRI can be only once and MT can use the SRI cached info.

You might think that why we even need calledGt to be different for MTFSM since that is taken from SRI response.

Here, I have actually mixed 2 issues and I should have explained better I wanted to keep this issue clean.
I have had a case in M2M messaging where SRI

[2017-10-13 11:26] vetss commented on #258
@faizann

I suppose we do not take into account a case when "SRI is not needed at all" for this issue, so we send SRI in any case. Do I understnd you properly ?

"we still need the ability to change mtremotesccpgt for both SRI and MTFSM depending on the case" - AFAIR `mtremotesccpgt` parameter does not affect MT message (only a SRI message) - check my pevious message. Can you explain more how shou

[2017-10-13 11:37] faizann commented on #258
Hi @vetss

Yes we send SRI in this case always.

In the case of 2 messageFlows you mentioned the first one is the desired one even if it looks a bit odd. I see it as an option to the Mproc rule creator to use it like that or not touch the callingParty for MTFSM at all. I expect that in a typical SMS flow most people will only want to change the callingParty for SRI only and MTFSM will just use the

[2017-10-13 12:16] vetss commented on #258
@faizann

if you think we can chanfe an address for SRI or MT or SRI+MT then we need to have different settings for mt and sri like `mtremotesccpgt' and `sriremotesccpgt'. Do I understand you properly ? If yes we need to checnge a desctiption of an issue.

And from your description of SRI requests sending I understand that responses from SRI requests may be reused for any other further MTFSM reque

[2017-10-27 14:18] faizann commented on #252
Is this issue finished or something is pending on this one?

[2017-10-27 18:58] vetss commented on #252
About finished, we need one little update, @faizann

[2017-10-31 09:56] vetss opened #262 "Split message cache"
We need to add cache for incoming already splitted messages. This cache will contain correlation between a message segement reference_number + source_address + dest_address and a SMSC GW's messageId of a first found message segment.
This value will be then logged into a CDR.
This functionality demands extra processing and must be optional and turned off by default.

[2017-10-31 10:16] vetss commented on #262
Hello @StanislawLeja

The initial fix was done by @StanislawLeja in the PR https://github.com/RestComm/smscgateway/pull/251.

I have added the PR + my suggested fix into https://github.com/vetss/smscgateway/commits/smsc_44_Split_message_cache

My comments for a previous solution:
- checking of `removeOldReferenceNumbers()` at any segement may waste resources. I added some timer for periodically ch

[2017-10-31 11:25] vetss commented on #252
@faizann I think we have finished this issue and code is in master branch.
We will test in a customer side, may be some extra feedback / fix.

[2017-10-31 13:15] faizann commented on #252
Hi
2 issues in the commits:

1. RSDS
I think for consistency in RsdsSbb the mtlocalsccpgt should be used for servicecenter address.
This applies for createNewDialog call as well as servicecenter address put into MAP layer as that is used for notification.
This is the line where we need to overriding.
https://github.com/RestComm/smscgateway/blob/master/core/slee/services/sbbs/src/main/java/org/mobi

[2017-11-02 06:41] Baymax254 opened #263 "Unable to set right bit sequence in Address Indicator (AI) field of SCCP layer"
I want to route message on basis of PC+SSN, but when i set the bits of AI accordingly, it returns an error 'java.lang.NullPointerException'. For example, code doesn't allow me to set AI= 01010011 but when i set 7th bit to 0, such that AI= 01010001,  the value is accepted and address is added. Also, when the rule is added , the 7th bit appear as 1 instead, like AI= 01010011

[2017-11-02 13:18] vetss commented on #263
Hello @Baymax254

at which step do you have NullPointerException - at a sccp rule creation or when a mesageflow. If it is a first one, can you provide a CLI commant that gives you NullPointerException.

[2017-11-02 19:32] vetss commented on #252
Updated fixing list:

https://github.com/RestComm/smscgateway/commit/18a9536315ea123dc78912559f170e148f7dff06
https://github.com/RestComm/smscgateway/commit/5d97c6061e871810b7349f116a8d241213b9bef5
https://github.com/RestComm/smscgateway/commit/baf14292754869191f402cdbc7a6be86642ca27c
https://github.com/RestComm/smscgateway/commit/107150b4766a455d14ada8ed418bc470c5c06507
https://github.com/RestCom

[2017-11-02 19:34] vetss commented on #252
Hello @faizann

Thanks for valuable bugs mentioning. RSDS update is reasonable.
I added a fix for it.

[2017-11-03 05:02] Baymax254 commented on #263
Hi vetss,

The error pops up at the time of rule is created via GUI.

[2017-11-04 10:53] vetss commented on #263
Hello @Baymax254

can you please provide which parameters you are using for creating of a SCCP rules (I suppose you are trying o create the rule). I can not reproduce a NullPointerException locally. The best if you can provide a CLI command but GUI settings are also good.

Please also check the manual - http://documentation.telestax.com/core/ss7/SS7_Stack_User_Guide.html#_managing_sccp the chapter

[2017-11-06 07:16] Baymax254 commented on #263
Hi,

I am adding AI in the address field of SCCP layer, doing it via GUI. I have
made a demonstration of my issue in the form of slides. Kindly ack. PFA

On Sat, Nov 4, 2017 at 3:53 AM, Sergey Vetyutnev <notifications@github.com>
wrote:

[2017-11-06 08:28] vetss commented on #263
Hello @Baymax254

how can I see "a demonstration of my issue in the form of slides" ?

[2017-11-06 09:52] Baymax254 commented on #263
Here's a link [https://imgur.com/a/rP4ft](url)

[2017-11-06 09:52] Baymax254 commented on #263
Here's a link https://imgur.com/a/rP4ft

On Mon, Nov 6, 2017 at 12:28 AM, Sergey Vetyutnev <notifications@github.com>
wrote:

[2017-11-06 10:21] vetss commented on #263
@Baymax254

ok, I understand your mistake - use "83" value for "AddressIndicator" field instead of "01010011". It is a decimal value.

[2017-11-13 10:34] vetss opened #264 "Add support for Wildfly 10 server"
We need to prepare a supper for WildFly server, now we have a support ony for jboss 5.1

[2017-11-13 15:27] faizann opened #265 "Skipping of SRI in case IMSI/VMSC is known"
In some special cases of M2M messaging the IMSI and VMSC is already known. This means that SRI is not needed and simply MTFSM can be sent.
I would like to suggest a change where MProc can set the IMSI/VMSC values in SmsSet object before SRI  (onPostArrival of SMPP or SIP) and SriSbb can just do executeForwardSM.

[2017-11-16 14:17] vetss commented on #265
Hello @faizann

thanks for raising an issue. I think we can not add a default mproc rule staff for that case because IMSI/NNN(VMSC) is needed to be taken from a database or another source like this. And we need to prepare custom mproc rules for it.

Can you contribute this staff ?

[2017-11-16 15:44] faizann commented on #265
Yeah so that will be OnPreSriRequest type of MProc. Makes sense.

Thanks

[2017-11-17 04:57] Baymax254 commented on #263
Thanks. I will try it.

[2017-11-17 04:57] #263 closed

[2017-11-17 05:06] Baymax254 opened #266 "AS not active issue in (manual) client-server connection"
I have this issue since quite long. I configure (manually)  jSS7 stack via GUI and try to make a connection between smsc gateway and ss7 simulator. The connection set up successfully but i am unable to see HEARTBEAT packets between two entities (server: smsc gateway, client: jss7 simulator). Also, in alarms i get AS state not active.
In Wireshark trace, I am able to get BEAT followed by SACK BEAT_

[2017-11-17 05:31] nhanth87 commented on #266
Hi,
Can you use https://groups.google.com/forum/#!forum/mobicents-public and stackoverflow for the question?

In github issue, we are using to keep track of development/bug fixing only

About your case, in the config file Mtp3UserPart_m3ua1.xml please change heartbeat from `false` to `true`

Br,
TN

[2017-11-17 05:31] #266 closed

[2017-11-17 05:34] Baymax254 commented on #266
Ok sure. I have set it true from GUI. thanks

[2017-11-20 10:47] vetss commented on #14
This issue should be fixed after fixing:
https://github.com/RestComm/jss7/issues/17

[2017-11-20 16:10] vetss opened #267 "Mproc rule: remove of an prefix from dest address digits"
We need to add an action into default mproc rules implementation:

"removedestdigprefix" <digits count>

This action will remove first <digits count> digits count from a dest address digits. The action will leave at least one (last) digit if <digits count> value is too long. Default value "0". values "0" and negative values will make no actions.
We need to update CLI / GUI / manual.

[2017-11-20 17:50] scottbarstow commented on #267
@vetss i think we want more control than just "remove prefix." It needs to be flexible enough to support the following options:
- I want to remove the prefix (in our case +) when it's +1 but leave the + if it's +(anythingelse)
- I want to remove the prefix in all cases

questions / comments?

[2017-11-20 18:58] vetss commented on #267
Hello @scottbarstow

We will use this action with other existing functionality - conditions.
Example (we will remove one leading sign if oigina ESME name matches to `^(test)$` and a dest address digits match to mask `<mask for processing>`) :

[code]

[2017-11-22 13:43] vetss opened #268 "Bug: hrCharging parameter must be used for HR messageflow"
moCharging parameter is used now for checking if we need to run diameter request for HR incoming messages. We need to use hrCharging instead.

MoSbb.processSms() - parameter `MoChargingType chargingType` - there is 3 invocations of the method:
- MT - must be hrCharging
- MO - must be moCharging
- onForwardShortMessageRequest() - we need to use `charging`.

[2017-12-01 05:30] nhanth87 opened #269 "mechanism for removing SMS in Cassandra database"
From ticket 34617.
If:
1. Send SMS from 1 ESME to another ESME (2nd)
2. 2nd ESME is not BOUND so SMSC will setup SMS for retry
3. Before retry timeout, delete the ESME from SMPP Management console

Then SMS will be stuck in database because SMSC don't have mechanism to remove the SMS related to unavailable ESME (SMSC don't know the difference between ESME stopped or unavailabled)

Br,
TN

[2017-12-02 10:58] nhanth87 commented on #254
I have sent PR https://github.com/RestComm/smscgateway/pull/270
Tested at my side, testing on customer side

Br,
TN

[2017-12-02 21:06] vetss commented on #268
Fixed by:
https://github.com/RestComm/smscgateway/commit/a4325762659f1acedd27d273ed826d9dd7179219

[2017-12-02 21:06] #268 closed

[2017-12-26 04:57] nhanth87 opened #271 "CDR of splitted message should have correct message text"
As today, if we send splitted message, CDR contain only 20 characters of the first part.
CDR for every "partial_esme" should contain the real content of every part

from ticket 34770

[2017-12-28 11:09] vetss commented on #254
I have added a litle update for:
https://github.com/RestComm/smscgateway/commit/c521fe98d916a1548963518f41382470959ef2ed

I still need an end-to-end testing

[2018-01-10 09:27] faizann opened #272 "RsdsSbb stores serviceCenterAddress as instance variable of Sbb"
It looks like RsdsSbb is using an instance variable to store value of serviceCenterSCCPAddress which is not really needed and also breaks the SLEE architecture. Luckily in this Sbb it is not harmful as the rest of code only uses returned values of sccpAddress. It is not a bug but it can become a bug if overlooked in later changes and someone decides to use the instance variable value.

https://git

[2018-01-19 15:41] #14 closed

[2018-01-19 15:41] #264 closed

[2018-01-19 15:55] #254 closed

[2018-01-19 15:55] #252 closed

[2018-01-19 16:24] olenara commented on #238
Code has been merged to master.

[2018-01-19 16:24] #238 closed

[2018-01-19 16:25] olenara commented on #215
Code has been merged to master.

[2018-01-19 16:25] #215 closed

[2018-01-19 16:25] olenara commented on #232
Code has been merged to master.

[2018-01-19 16:25] #232 closed

[2018-01-23 09:30] MaabSaleeem opened #277 "Restcomm SMSC keeps raising ActivityAlreadyExistsException when submit_sm request is sent"
I am using the latest version of Restcomm SMSC (smscgateway-7.3.153) (available here: https://github.com/RestComm/smscgateway/releases/tag/7.3.153). I used the binary version and not the source code.

I have got it up and running ad it communicates with Cassandra which is hosted on a different machine appropriately.

I have registered an ESME as a server and when I try to send a bind request, it s

[2018-01-23 09:30] MaabSaleeem commented on #277
@vetss can you please let me know what the issue could be? I'd really appreciate any help.

[2018-01-23 09:34] faizann commented on #277
This usually happens if you are connecting/disconnecting the ESME and
sending the new SubmitSM with same sequenceNumbers as before the
disconnection. So, my guess is that you are reusing sequence numbers on the
same ESME.

On Tue, Jan 23, 2018 at 10:30 AM, MaabSaleeem <notifications@github.com>
wrote:

[2018-01-23 10:00] MaabSaleeem commented on #277
Hi @faizann this was my initial diagnosis as well. But as you can see in the attached wireshark capture file, the sequences are normal. The bind request came with 1, the submit message came with 2 and the unbind came with 3.

[2018-01-23 10:21] MaabSaleeem commented on #277
@faizann  Also, this exception is raised during the first submit request as well so it can't really be a sequence number issue?

[2018-01-23 12:27] faizann commented on #277
Unforutnately there is no proper solution for this. You can on unbind close
all transactions/activities forcefully from SessionHandler.
Best is not to keep bind/unbind happening and keep SMPP connections open
for long.

On Tue, 23 Jan 2018 at 11:46 MaabSaleeem <notifications@github.com> wrote:

[2018-01-23 12:39] MaabSaleeem commented on #277
@faizann How can I forcefully close all activities on unbind? Can I handle this from configuration?

[2018-01-23 13:08] faizann commented on #277
There is no configuration for that. Doing that will require quite a bit of code and architectural change. For outbound packets on sessionDestroy the system fakes PduExpired event which causes all the activities to end. May be it can be a starting point to figure out how to do it for inbound SubmitSM that are still pending as a transaction. Ideally they should not last very long. Have a look at Def

[2018-01-23 13:10] vetss commented on #165
It is fixed now

[2018-01-23 13:10] #165 closed

[2018-01-23 13:58] vetss commented on #52
SMDeliveryFailure MAP error message case is already fixed

[2018-01-24 06:25] MaabSaleeem commented on #277
Thanks a lot. Can you please tell me how I can change the tracing level of the server? I am still a beginner at this and have been unable to do so from configuration.

[2018-01-24 08:46] faizann commented on #277
Hi Maab

http://documentation.telestax.com/core/jain_slee/JAIN_SLEE_User_Guide.html#_log4j_service
Lets not discuss general issues on github. Use maillists if you can't find
an answer by searching on Google.

On Wed, 24 Jan 2018 at 07:26 MaabSaleeem <notifications@github.com> wrote:

[2018-01-24 10:41] gsaslis commented on #277
Thanks a lot for stepping up @faizann !

As you mentioned, the best place for a discussion is the [Restcomm](https://groups.google.com/forum/#!forum/restcomm) mailing list.

Will close the issue for now, but @MaabSaleeem do feel free to reopen please if you think this is starting to look like some bug.

[2018-01-24 10:41] #277 closed

[2018-01-24 17:45] gsaslis commented on #272
Hi @faizann !

This sounds like a valid description. Would you care to open a PR with this? ;)

[2018-01-24 21:41] faizann commented on #272
Sure. It is a small bit of code to do. I will send PR soon.

[2018-01-25 07:30] gsaslis commented on #272
Awesome!
Thanks - looking forward to it!

[2018-01-29 12:23] MaabSaleeem opened #278 "Failure invoking smsc services jar file"
Hi. Why am I receiving this error when I start the server? The file exists but it isn't getting deployed

17:06:40,347 INFO  [PreferredPackagesBuilder] (SLEE-InternalDeployer-thread-1) No preferred package entry found. Applying defaults.
17:06:40,410 ERROR [DeploymentManager] (SLEE-InternalDeployer-thread-1) Failure invoking 'InstallDeployableUnitAction[file:/opt/restcomm-smsc-7.3.153/jboss-5.1.0.

[2018-01-29 12:24] MaabSaleeem commented on #278
@faizann @vetss

[2018-01-29 12:25] MaabSaleeem opened #279 "Not all SBBs are running?"
Why does this warning come and what does this affect?

17:11:47,639 INFO  [SchedulerResourceAdaptor] (pool-50-thread-1) Not all SBB are running now: ServicesDownList=[smscTxSmppServerServiceState, smscRxSmppServerServiceState, smscTxSipServerServiceState, smscRxSipServerServiceState, smscTxHttpServerServiceState, moServiceState, homeRoutingServiceState, mtServiceState, alertServiceState, chargingS

[2018-02-06 09:20] gsaslis commented on #279
@MaabSaleeem can you please share some more information about the circumstances in which this log message comes up?

It would be really helpful if you could provide steps to reproduce and some more complete logs (using [GitHubGist](https://gist.github.com/) ), so we can take a closer look.

Thanks in advance!

(btw, I see this is only `INFO` level...? )

[2018-02-06 09:24] gsaslis commented on #278
@MaabSaleeem could you please help us understand a little more about when this is happening?

Can you please provide:

* steps to reproduce and
* some more complete logs (using [GitHubGist](https://gist.github.com/) )?

Thanks in advance!

[2018-02-07 18:45] #85 closed

[2018-02-09 06:20] terminator102 opened #281 "MAP Error msg: facilitynotsup"
Whenever SMSC receives msg from remote SMSC, it returns following error:

Home routing: Sent ErrorComponent = MAPErrorMessageFacilityNotSup []

why is this? I am running old setup which was working fine few days back.

[2018-02-09 06:58] nhanth87 commented on #281
Check the cassandra database

[2018-02-16 10:41] Kawish-Ali opened #282 "Message sending failed from jss7-simulator to JITSI"
While sending message from jss7-simulator to jitsi and using OpenJDK version 1.8 on kali linux following errors are occurs at

**jss7- simulator:**

refuseReason=ApplicationContextNotSupported, alternativeApplicationContext=ApplicationContextName[oid=[0, 4, 0, 0, 1, 0, 21, 3]], dlgId=1
257660 [pool-10-thread-1] INFO org.mobicents.protocols.ss7.tools.simulator.management.TesterHost  - Rcvd: DialogR

[2018-03-01 05:02] cvmathur opened #284 "How to start smsc gateway"
Hi guys,
I'm new to Java world and wanted to have an SMSC. I have followed the steps to build and install it.
By the end of it, I get the following message -
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] RestComm SMSC :: restcomm-smsc-parent .............. SUCCESS [ 36.473 s]
[INFO] Core .......................................

[2018-03-01 07:37] LxB1982 opened #285 "Ported numbers in RestComm SMSC"
Hi. We are using the open source version of RestComm SMSC and have it connecting and sending to multiple MNO's. However, numbers ported from one MNO to another don't deliver at all and get rejected. The MNO's have stated that we are not performing porting lookups before sending the messages through to them. We do this within our own software before the messages reach the RestComm gateway, but then

[2018-03-02 15:36] PKuchibhatla opened #286 "SMSC Gateway In Simulator mode not starting"
# Deployed SMSC v 7.3.153

# EJB's not deploying
-------------------

20:36:30,109 INFO  [DeployableUnit] (SLEE-InternalDeployer-thread-1) Missing dependencies for mproc-ra-du-7.3.153.jar:
 +-- LibraryID[name=org.mobicents.smsc,vendor=common,version=1.0.0]
20:36:30,109 WARN  [DeploymentManager] (SLEE-InternalDeployer-thread-1) Unable to INSTALL mproc-ra-du-7.3.153.jar right now. Waiting for depend

[2018-03-05 12:45] vetss commented on #282
Hello @Kawish-Ali

This most probably mean that a ss7 stack / RAs are not properly started at jboss side

[2018-03-06 11:00] gsaslis commented on #284
Hi @cvmathur !

Please follow the [SMSC Installation Guide](https://www.restcomm.com/docs/core/smsc/SMSC_Gateway_Installation_Guide.html#introduction) to get you going.

I will be closing this issue for now, please feel free to raise another more specific issue if you run across any other problems.

[2018-03-06 11:01] #284 closed

[2018-03-06 16:24] gsaslis commented on #286
Hi @PKuchibhatla !

Thanks for letting us know about the issue you are facing.

I have to point out it is a little hard to understand what exactly the issue is the way you have opened this issue.

Could you please:
* Follow the [SMSC Installation Guide](https://www.restcomm.com/docs/core/smsc/SMSC_Gateway_Installation_Guide.html#introduction) and let us know exactly which step you are having troub

[2018-03-06 16:37] nhanth87 commented on #286
SMSC support only java 7 for 7.3.153

Br,
TN

[2018-03-06 16:37] #286 closed

[2018-03-07 05:38] haiderkhalid123 opened #287 "Container providing a null PersistenceUnitRootUrl: discovery impossible"
I am trying to compile and run smscgateway from master branch. After compilation, when i run the smsc by executing this command
`./run.sh -b 192.168.1.71 -c simulator`

jboss server runs with some errors. the first of these error is:

`21:11:42,886 ERROR [Ejb3Configuration] (SLEE-InternalDeployer-thread-1) Container is providing a null PersistenceUnitRootUrl: discovery impossible`

[2018-03-08 09:58] vetss commented on #287
Hello @haiderkhalid123

you can safely ignore this error message

[2018-03-14 11:36] olenara commented on #269
Issue has been resolved by fff53088a569fc18cb1510f7acd1e2ea848ab796 commit in commercial release. Related jira MSB-168.

[2018-03-14 11:36] #269 closed

[2018-03-15 09:15] olenara commented on #253
Fixed by https://github.com/RestComm/jss7/commit/d7ee8c3d2eb441c3630aa0c8625479651604d80a

[2018-03-15 09:15] #253 closed

[2018-03-15 09:50] olenara commented on #267
Fixed by:
https://github.com/RestComm/smscgateway/commit/1f70a2c6e090bcab7cc7d6a9b52079343f4f75fe
https://github.com/RestComm/smscgateway/commit/0aed184f1e4bd9500c89ba0cb90792a2d9a1a4a7
https://github.com/RestComm/smscgateway/commit/5c63e10e80a01664467f608674f6e8e57605b268

[2018-03-15 09:50] #267 closed

[2018-03-15 09:59] olenara commented on #278
@MaabSaleeem this is related to Java version. SMSC should be run with Java 7 version.

[2018-03-15 09:59] #278 closed

[2018-03-15 10:01] olenara commented on #279
@MaabSaleeem there must be errors that precedes this one, which were the reason for SBBs not to start. In your case, considering another issue you've opened (https://github.com/RestComm/smscgateway/issues/278) it must be a correct version of Java (should be 7).

[2018-03-15 10:01] #279 closed

[2018-03-15 10:06] olenara commented on #282
@Kawish-Ali if you still have questions, please provide SMSC startup logs that precedes this error.

[2018-03-15 10:06] #282 closed

[2018-03-15 11:05] #287 closed

[2018-03-16 12:58] olenara commented on #281
@terminator102 you have to enable HrCharging SMSC property in configuration settings (set to to "accept").

[2018-03-16 12:58] #281 closed

[2018-03-16 13:56] olenara commented on #244
Please let us know if you have further questions.

[2018-03-16 13:56] #244 closed

[2018-03-16 15:39] olenara commented on #247
Closing this one.

[2018-03-16 15:39] #247 closed

[2018-03-16 15:40] olenara commented on #248
Closing this one.

[2018-03-16 15:40] #248 closed

[2018-03-16 15:57] olenara commented on #164
@vetss prepared smpp-extensions man and @satanatoly prepared man for smpp ra. This is done.

[2018-03-16 15:57] #164 closed

[2018-03-16 16:02] olenara commented on #69
Won't do. Stable Javolution version 6.x.x or 7.x.x does not exist. Latest released version has bug which prevents to load config

[2018-03-16 16:02] #69 closed

[2018-03-16 16:14] gsaslis commented on #164
@olenara could you please share some links as to where these manuals are now, as I'll need to see how to best incorporate them into our documentation site?

[2018-04-10 15:45] olenara commented on #19
Fixed by ace990ac9fd2270b7b0eff963e2618b8659ba691

[2018-04-10 15:45] #19 closed

[2018-04-10 16:32] #259 closed

[2018-04-19 15:57] olenara commented on #250
Fixed by:
2dcb45ddc5a7f9cbf85258a5ff80ebd468ae874e
c102fc9b69350dc4e042ef5cf55a1e2449cd3eaf

[2018-04-19 15:57] #250 closed

[2018-05-10 08:13] nhanth87 commented on #285
Hi,
For a ported number, if your country is small country (like Singapore), you will have a list of all ported number  then you can use `routing by database`

If your country is big, you need to do lookup for the ported number. You need to write your own mproc rule that query from Operator database to know where's the HLR for ported number.

Currently SMSC is not automatic do this because ported n

[2018-05-10 08:13] #285 closed

[2018-05-14 08:55] yevgenys opened #288 "SMSC generate 2 CDRs in case of permanent error"
scenario:
1. smscPropertiesManagement.getGenerateTempFailureCdr() set to True(by default)
2. function onDeliveryError receive ErrorAction.permanentFailure
3. function onDeliveryError generate 2 CDRs, one with temporary failure, second with permanent

temporary error:
https://github.com/RestComm/smscgateway/blob/5f69047862411f5ee1db6364019dbd09ac46d022/core/slee/services/sbbs/src/main/java/org/mobi

[2018-05-16 11:30] yevgenys opened #289 "Flag to tag timeouts as permanent failure"
FEATURE REQUEST:
/kind feature

**What happened**:
Currently all timeouts are tagged as temporary_failure, sometimes there is need to tag this kind of errors as permanent.

**What you expected to happen**:
introduce new flag which will tell smsc to tag timeouts as permanent/temporary failures.

**How to reproduce it (as minimally and precisely as possible)**:
its possible to see this errors in CDR

[2018-06-01 14:19] KeithMilner opened #292 "Missing library in SchedulerResourceAdaptor under Java 8/Wildlfy"
/kind bug

**What happened**:
Using Restcomm SMSC 7.4.0-138 compiled to work with Wildfly. Migrating config and data across from Restcomm 7.3.153 installation.

After normal startup, logs started getting filled with the following error:

[code]

Unsure what the side effect of this is, other than it seemed to delay or prevent the migration of Cassandra tables.

**What you expected to happen**:

I e

[2018-06-01 14:22] KeithMilner commented on #292
I'm not sure that the fix I applied above is the correct or sensible one, hence raising this as a bug.

[2018-06-22 11:33] KeithMilner opened #293 "Support for "HUB" type of SMPP connection in addition to "CLIENT" and "SERVER""
/kind feature

When using SMSC Gateway in a "hub" mode (e.g. where messages are passed between SMPP connected peers) this presents issues relating to message IDs and DLR matching.

The following web page explains it well: [https://www.nowsms.com/sms-hubbing-considerations](url)

One of the solutions described is to use data_sm instead of submit_sm or deliver_sm as this always supports the exchange

[2018-07-04 07:12] princebayan commented on #279
@MaabSaleeem its a Java version issue, same was happening with me when i run Jboss on Java 8.

[2018-07-04 07:15] MaabSaleeem commented on #279
@princebayan which version did you then shift to?

[2018-07-04 07:38] princebayan commented on #279
@MaabSaleeem I switch to version 7 and exactly this one : java version "1.7.0_181".
Try it and if you need anything please tell me.

[2018-07-04 07:42] MaabSaleeem commented on #279
@princebayan Thanks. If I need anything else, I can reach you at prince_bayan@hotmail.com?

[2018-07-04 07:50] princebayan commented on #279
yes sure :)

[2018-11-20 06:18] bizotec opened #295 "Cannot compile smscgateway - missing dependency - version 154 smmp-extensions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Cannot compile smscgateway from source.
mvn clean install issues error:

Failed to execute goal on project mproc-api: Could not resolve dependencies for project org.mobicents.smsc:mproc-api:jar:7.4.0-SNAPSHOT: Failed to collect dependencies at org.restcomm.smpp:smpp-extensions:jar:7.1.0-154: Failed to read artifact descr

[2018-11-27 09:15] bwangGitHub commented on #295
Somehow the version of smpp is not supported by maven. I fixed it by changing the version of smpp in pom.xml. However, after I compiled it, it still missing JBOSS server config.

[2018-11-27 10:01] bizotec commented on #295
I

I moved arround by cloning smpp extension repo locally and compiling version 154, then I modified pom to use local repo.

But there is another issue during compilation which I am about to post here later.

[2018-11-27 15:51] bizotec opened #296 "Cannot compile smscgateway - TxSmppServerSbbTest no suitable constructor found for Esme"
/kind bug

**What happened**:

SMSCGATEWAY compilation fails at CORE: SLEE : Services Tx SMPP Server SBB.

The error is following:

Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.3.1:testCompile (default-testCompile) on project tx-smppserver-sbb: Compilation failure: Compilation failure:
[ERROR]  smscgateway-repo/smscgateway/core/slee/services/txsmppserversbb/src/test/java

[2018-11-30 11:53] orn1983 commented on #296
Can confirm the same problem.

[2019-01-21 17:11] zvikara commented on #296
In main pom.xml just change smpp-extensions version to 7.1.0-128 . It will compile and all tests will pass.

<smpp.extensions.version>7.1.0-128</smpp.extensions.version>

[2019-01-22 16:35] bizotec commented on #296
Thank you. Is there documented process how to deploy smsc gateway fo JBoss? I see after compilation there are no deployment resources and packages.

[2019-01-23 09:55] faizann opened #297 "Possible bug where SMSC can go into loop sending multiple SRIs"
https://github.com/RestComm/smscgateway/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/smsc/slee/services/mt/SriSbb.java#L361
**Is this a BUG REPORT**:

/kind bug

**What happened**:
The MAP version fallback code in SriSbb has a logical bug where it does not check if the supported/suggested ACN is lower than the original one sent and thus ends up sending the SRI blindly to the ver

[2019-08-28 13:19] ugintl opened #298 "Is it an smpp server?"
Is it an smpp server? Can I use it with Jasmin sms gateway?

Read this comment https://stackoverflow.com/questions/30590964/kannel-vs-jasmin-sms/30729416?noredirect=1#comment101790352_30729416

[2019-10-16 02:38] nhanth87 commented on #298
Hi Yes,
SMSC can be server or client and support unlimited connections

[2019-10-16 02:38] #298 closed

[2019-10-16 04:13] nhanth87 commented on #265
it's implemented in SMSC onpremise version so I close this

[2019-10-16 04:13] #265 closed

[2019-10-30 09:11] adonisrayan opened #299 "javax.management.InstanceNotFoundException : org.mobicents.smsc:layer=DatabaseSmsRoutingRule,name=SmscManagement is not registered"
hello
in the DB Routing Rule when i want to update configuration for the first time, i got this error:

javax.management.InstanceNotFoundException: org.mobicents.smsc:layer=DatabaseSmsRoutingRule,name=SmscManagement is not registered.

[2019-11-10 12:34] muklah opened #300 "Can't find paths mentioned in 6.3. Configuring the Gateway"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After I complete install and setup the JDK7, Jboss, Cassandra and Restcomm smscgateway then I face a problem to configure the smscgateway, I can't find paths the documentation that mentioned

**What you expected to happen**:
I expect to find these two paths of the configure section mentioned [here](https://cloud.restcomm.com/docs/co

[2020-05-25 09:39] cyanlam opened #302 "Missing dependencies for smscgateway 7.3.153"
**What happened**:
When I start the smsc gateway, checked the log included below

2020-05-25 17:30:42,202 WARN  [org.mobicents.slee.container.deployment.jboss.SleeContainerDeployerImpl] (SLEE-InternalDeployer-thread-1) SLEE DUs not deployed, due to missing dependencies:
file:/opt/restcomm-smsc-jboss-7.3.153/jboss-5.1.0.GA/server/default/deploy/mproc-ra-du-7.3.153.jar/
        Missing Dependencies:

[2020-05-26 10:09] nhanth87 commented on #302
it's normal log, you can check in below log, that map-ra is loaded and smsc is working

[2020-05-26 10:09] #302 closed

[2020-06-22 21:13] zouhirmahjoubi opened #304 "any help plz"
hello all , any one can help me.

![472bc487-d426-4ca5-9c51-5fb9fa878d31](https://user-images.githubusercontent.com/55251855/85335826-8c1d8500-b4d5-11ea-89db-458c44ed536a.jpg)

[2020-06-23 08:42] Bthnbcr opened #305 "Delivery Issue"
Hello all,
I have a problem with delivery reports. Restcomm is giving immediately delivered. It should wait for response from operator. For instance I'm testing invalid numbers and getting delivered instead of undelivered. Delivered message is coming from restcomm. Operator is giving undelivered. When i checked the logs, there is 2 delivery status for 1 sms. First delivery receipt is coming from r

[2021-05-01 11:02] chegmarco1989 opened #310 "Do I have to separately install jSS7 (RESTCOMM-SS7) before installing the RESTCOMM-SMSC itself ???"
Hello.

Please, are there people who have experience setting up RESTCOMM-SMSC Community version (https://github.com/RestComm/smscgateway) ???

Actually, I'm looking to install the RESTCOMM-SMSC with the RestComm-SS7 (https://github.com/RestComm/jss7). But I'm wondering how to install this RESTCOMM-SMSC to work or support the SS7 feature ???

Do I have to separately install jSS7 (RESTCOMM-SS7) befo

[2022-04-26 10:14] darkhacknet commented on #188
Can someone please help me to get my Local GT ? I cant find precise information about it.
thanks guys !